<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laout</title>
    <link rel="stylesheet" href="css/Style.css">
    
</head>
<body>
    <header>
        <h2>Layout</h2>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <aside>
        <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </aside>

    <main>
        
        <section class="box">
            <h3>Box1</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum 
                facilis dignissimos consequuntur dolor suscipit beatae. Voluptatem tempora,
                provident voluptate veritatis aliquam doloribus eum aut. Ut error labore vel 
                voluptatibus molestiae!
            </p>
        </section>

        <section class="box">
            <h3>Box2</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum 
                facilis dignissimos consequuntur dolor suscipit beatae. Voluptatem tempora,
                provident voluptate veritatis aliquam doloribus eum aut. Ut error labore vel 
                voluptatibus molestiae!
            </p>
        </section>

        <section class="box">
            <h3>Box3</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum 
                facilis dignissimos consequuntur dolor suscipit beatae. Voluptatem tempora,
                provident voluptate veritatis aliquam doloribus eum aut. Ut error labore vel 
                voluptatibus molestiae!
            </p>
        </section>

    </main>

    <footer>
        Footer
    </footer>
</body>
</html>